{% extends 'home.html' %}
{% load static %}
{% block content %}


<div class="col-md-6 mx-auto footer-newsletter " >
    <h4>Our Newsletter</h4>
    <p>Subscribe to our newsletter and receive the latest news about upcoming events</p>
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
      <!-- <div class="loading">Loading</div>
      <div class="error-message"></div>
      <div class="sent-message">Your subscription request has been sent. Thank you!</div> -->
    </form>
  </div>


{% endblock %}